
.home-page {
  height: 100vh;
  width: 100%;
  color: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::after {
    background-image: url('/assets/images/concert3.jpg');
    background-image: url('/assets/images/drums6.jpg');
    background-image: url('/assets/images/music.jpg');
    background-size: cover;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
    content: "";
    // opacity: 0.875;
  }

  & > .home-header {
    margin-left: 5%;
    width: 40%;
    font-family: 'Archivo Black';
    font-size: 450%;
    text-transform: uppercase;
  }
}
